<section class="h-[50vh] mb-28 md:h-auto">
	<h1 class="text-7xl text-slim text-center">{{ component.section_title }}</h1>
	<div class="relative overflow-hidden group h-full">

		<img class="w-full h-full object-cover" src="{{ component.banner_background }}" alt="fixxed banner background"/>
		<div class="absolute bottom-10 right-10 text-white text-9xl text-slim">
			<p class="overlay-larg">{{ component.banner_title }}</p>
		</div>
		<div class="absolute inset-0 bg-black bg-opacity-50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 custom-mask">
			{% for cat in component.banner_cat_selection %}
				<a href="{{ cat.url }}" class="text-black text-7xl hover:text-[#a5804a] hover:text-9xl transition-all duration-200">{{ cat.name }}
					<span class="text-5xl">></span>
				</a>
			{% endfor %}
		</div>
	</div>
</section>
