{#
| Variable                           | Type     | Description                                                                  |
|------------------------------------|----------|------------------------------------------------------------------------------|
| component                          | object   | Contains merchant settings for fields from twilight.json `component` section |
| component.merge_with_top_component | bool     |                                                                              |
| component.title                    | ?string  |                                                                              |
| component.links                    | object[] | list of links                                                                |
| component.links[].icon             | string   |                                                                              |
| component.links[].title            | string   |                                                                              |
| component.links[].url              | string   |                                                                              |
| position                           | int      | Sorting number start from zero                                               |
#}
<section class="">
	<h1>{{ component.title }}</h1>
	<div class="container">
		<salla-slider type="carousel" controls-outer show-controls='false' id="main-links-{{ position }}">
			<div slot="items">
				{% if component.show_cats %}
					{% for cat in component.categories %}
						<div class="swiper-slide slide--one-sixth">
							<a href="{{ cat.url }}" class="slide--cat-entry">
								<i class="{{ cat.icon }}"></i>
								<h2>{{ cat.name }}</h2>
							</a>
						</div>
					{% endfor %}
				{% else %}
					{% for link in component.links %}
						{% if link.title %}
							<div class="swiper-slide slide--one-sixth">
								<a href="{{ link.url }}" class="slide--cat-entry">
									<h2>{{ link.title }}</h2>
								</a>
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</salla-slider>
	</div>
</section>
