{#
| Variable           | Type                      | Description                         |
|--------------------|---------------------------|-------------------------------------|
| limit              | string                    | Maximum number of the testimonials  |
| type               | string                    | `default:store` all, product, store |
| sort               | string                    |                                     |
| hide_customer_info | bool                      | show/hide info customers            |
#}
<section class="s-block s-block--testimonials container overflow-hidden">
	<salla-reviews {{ display_all_url ? "display-all-link" : "" }} limit="{{ limit }}" sort="{{ sort }}" {{ hide_customer_info ? 'hide-customer-info' : '' }} type="{{type}}"></salla-reviews>
</section>
<iframe src="https://widgets.commoninja.com/iframe/faa2129a-3a16-4ece-845f-e7fdca50a77d" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
